html {
  scroll-behavior: smooth;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1E0270;
  position: fixed;
  top: 0px;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  /* background-color: #111; */
   opacity: 0.5;
}

.active {
  background-color: #2C04A3;
}
body {
  font-family: arial;
  margin : 0;
}

.container {
  padding:10px;
  /* padding-top : 20px; */
  /* text-align: center; */
  overflow: hidden;
  margin:auto;
 width: 75%;
 padding: 10px;
}

.first {
  padding: 10px;
  float : left;
}

.second {
  padding: 10px;
  float : left;
  text-align: justify;

}

.third {
  padding: 10px;
  float : left;
}

/* img:hover {
       box-shadow: 5px 4px 10px #8B0000;
     } */

.img-with-text {
         text-align: justify;
         /* width: ; */
     }

.second img {
         display: block;
         margin: 0 auto;
     }

.selfie {
  clear: both;
  float : left;
  padding-top: 20px;
  padding-right: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #1E0270;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2C04A3;
}

.self {
  width: 49%;
}
.back {
  width: 2%;
}
#AboutMe {
  width: 100%;
}
form {
  padding-top: 30px
}
